{
    "PROJECT_ID": "project-id",
    "SETTING_PATH": "gs://xxx/ddns_gcp/setting.json",
    "SETTING_BACKUP_PATH": "gs://xxx/ddns_gcp/backup/{TIMESTAMP}/setting.json",
    "GCP_REGION": "us-central1",
    "GOOGLE_APPLICATION_CREDENTIALS":"/file/path.json",
    "ACCESS_ID_TO_DATA_DICT":{
        "access-id-0":{
            "SECRET":"secret-0",
            "HOSTNAME_LIST":[
                "something.domain.com."
            ]
        }
    },
    "TTL":1800
}
